# IDE stuff
**/.idea
**/.settings/
**/.vscode/
**/.idea_modules/
**/.buildpath

#*.env
*.log
*.vs*
._*
/src/nbproject/private/
src/sftp-config.json
**/composer.lock

# macOS
.DS_Store

# Vim swap files
*.swp
yarn.lock
package-lock.json